/* .container {
  display: flex;
  background-color: #e5e7ea80;
  padding: 20px;
  color: white;
  font-family: Arial, sans-serif;
  background-image: url(/src/Images/5db73a5c10414c4dbee0ac53ce2d56cc.jpg);
  background-size: cover; 
  background-position: center;
  max-width: 100%;
  margin: 0 auto; 
  height: 100%;  
} */
/* .rename-columns-container {
  margin-top: 20px;
} */

/* .columns-list {
  display: flex;
  flex-direction: column;
} */

/* .column-item {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
} */

/* input[type='text'] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='text']:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}


.sidebar {
  width: 250px;
  background-color: rgb(6, 60, 81);
  color: white;
  padding: 20px;
  height: 800px;
  margin-left: -18px;
  margin-top:-20px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  position:relative;
}

.sidebar h1,
.sidebar h2 {
  color: white;
}

.sidebar-section {
  margin-bottom: 20px;
}

.dropdown select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.dropdown select:focus {
  outline: none;
  border-color: #007bff;
} */

/* .dropdown button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color:grey;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-label:hover {
  background-color: #0056b3;
}

.graph-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
} */

/* Adjust spacing between dropdown and button */
/* .dropdown-button-container {
  margin-top: 10px;
} */
/* Graph container styles */
/* .graph-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
}
.upload-container {
  margin-top: 20px;
}

.fill-method-dropdown {
  margin-top: 20px;
}

.fill-method-dropdown label {
  margin-right: 10px;
}
.data-manipulation-container {
  margin-top: 20px;
}

.scrollable-section {
  max-height: 200px; 
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc; 

.manipulation-item {
  margin-bottom: 10px;
}

button {
  background-color: #444; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color:#444; 
}



.graph-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.graph {
  width: 100%;
  height: 400px;
} */

/* Adjust graph styles based on Plotly.js */
/* .plotly-graph-div {
  width: 100%;
  height: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.custom-file-upload:hover {
  background-color: #e9e9e9;
} */
/* DataUploader.css */
/* .upload-btn {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
} */

/* .upload-btn:hover { */
  /* background-color: darkblue; */
/* } */
/* DataUploader.css */
/* .data-uploader {
  margin-bottom: 20px; 
  background-color: #007bff;
} */

/* .data-uploader input { */
  /* Style for the input field if needed */
  /* background-color: #007bff;
  color: #333;
} */

/* .data-uploader button { */
  /* Style for the button if needed */
  /* background-color: #007bff;
  color: #333;
} */





.Axis-dropdowns{
  display: flex;
  padding: 30px;
  padding-left: 60px;
  
}


.choose{
  padding:4px;
  padding-left: 110px;
  cursor:pointer;
  border-radius: 5px; 
  display: inline-block;
}

/* Style label as button */
.choose label {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 20px ;
  background-color: #4f5862;
  color: #fff;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

/* Hover effect for label */ 
.choose label:hover {
  background-color: green;
}


.GraphType{
  padding: 8px;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
}



.Heading{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;

}


.container-lg{
  max-width: 94%;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* border: 2px solid #ccc; */
  border-radius: 50px;
  margin: auto;
  
}